<form [formGroup]="addressForm" autocomplete="off">
  <div class="p-4">
    <h3 class="section-title mb-3">Address Information</h3>
    <div class="row g-2">

      <!-- Address Line 1 -->
      <div class="col-12 col-md-6">
        <div class="erp-form-group">
          <label class="erp-label" for="paddress1">Address Line 1 <span class="required">*</span></label>
          <input type="text" id="paddress1" formControlName="paddress1" class="erp-input" maxlength="150"
            placeholder="Enter address line 1" appAddressformat
            [class.ng-invalid]="errorOf('paddress1') && addressForm.get('paddress1')?.touched" />
          @if (errorOf('paddress1')) {
          <span class="erp-field-error">{{ errorOf('paddress1') }}</span>
          }
        </div>
      </div>

      <!-- Address Line 2 -->
      <div class="col-12 col-md-6">
        <div class="erp-form-group">
          <label class="erp-label" for="paddress2">Address Line 2</label>
          <input type="text" id="paddress2" formControlName="paddress2" class="erp-input" maxlength="150"
            placeholder="Enter address line 2" appAddressformat
            [class.ng-invalid]="errorOf('paddress2') && addressForm.get('paddress2')?.touched" />
          @if (errorOf('paddress2')) {
          <span class="erp-field-error">{{ errorOf('paddress2') }}</span>
          }
        </div>
      </div>

      <!-- City / Village -->
      <div class="col-12 col-md-6">
        <div class="erp-form-group">
          <label class="erp-label" for="pcity">City / Village <span class="required">*</span></label>
          <input type="text" id="pcity" formControlName="pcity" class="erp-input" maxlength="75"
            placeholder="Enter city or village" appAddressformat
            [class.ng-invalid]="errorOf('pcity') && addressForm.get('pcity')?.touched" />
          @if (errorOf('pcity')) {
          <span class="erp-field-error">{{ errorOf('pcity') }}</span>
          }
        </div>
      </div>

      <!-- Country -->
      <div class="col-12 col-md-6">
        <div class="erp-form-group">
          <label class="erp-label" for="pCountryId">Country <span class="required">*</span></label>
          <ng-select id="pCountryId" [items]="countryDetails()" bindLabel="country_name" bindValue="tbl_mst_country_id"
            formControlName="pCountryId" placeholder="Select Country" [searchable]="true" [clearable]="true"
            appendTo="body" (change)="pCountry_Change($event)"
            [ngClass]="{'ng-invalid': errorOf('pCountryId') && addressForm.get('pCountryId')?.touched}">
          </ng-select>
          @if (errorOf('pCountryId')) {
          <span class="erp-field-error">{{ errorOf('pCountryId') }}</span>
          }
        </div>
      </div>

      <!-- State -->
      <div class="col-12 col-md-6">
        <div class="erp-form-group">
          <label class="erp-label" for="pStateId">State <span class="required">*</span></label>
          <ng-select id="pStateId" [items]="stateDetails()" bindLabel="state_name" bindValue="tbl_mst_state_id"
            formControlName="pStateId" placeholder="Select State" [searchable]="true" [clearable]="true"
            appendTo="body" (change)="pState_Change($event)"
            [ngClass]="{'ng-invalid': errorOf('pState') && addressForm.get('pStateId')?.touched}">
          </ng-select>
          @if (errorOf('pState')) {
          <span class="erp-field-error">{{ errorOf('pState') }}</span>
          }
        </div>
      </div>

      <!-- District -->
      <div class="col-12 col-md-6">
        <div class="erp-form-group">
          <label class="erp-label" for="pDistrictId">District <span class="required">*</span></label>
          <ng-select id="pDistrictId" [items]="districtDetails()" bindLabel="district_name" bindValue="tbl_mst_district_id" 
            formControlName="pDistrictId" placeholder="Select District" [searchable]="true" [clearable]="true"
            appendTo="body" (change)="pDistrict_Change($event)"
            [ngClass]="{'ng-invalid': errorOf('pDistrict') && addressForm.get('pDistrictId')?.touched}">
          </ng-select>
          @if (errorOf('pDistrict')) {
          <span class="erp-field-error">{{ errorOf('pDistrict') }}</span>
          }
        </div>
      </div>

      <!-- Pincode -->
      <div class="col-12 col-md-6">
        <div class="erp-form-group">
          <label class="erp-label" for="Pincode">Pincode <span class="required">*</span></label>
          <input type="text" id="Pincode" formControlName="Pincode" class="erp-input" appNumbersonly minlength="6"
            maxlength="6" placeholder="Enter pincode" (keypress)="allowOnlyNumbers($event)"
            [class.ng-invalid]="errorOf('Pincode') && addressForm.get('Pincode')?.touched" />
          @if (errorOf('Pincode')) {
          <span class="erp-field-error">{{ errorOf('Pincode') }}</span>
          }
        </div>
      </div>

    </div>
  </div>
</form>
